/*Main*/

.navbar {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  /*z-index: 10;*/
  padding-top: 10px;
  background-color: #3F7CAC;
}

.navbar-brand {
  margin: 0 auto;
}
.navbar-collapse {
  margin: 0 auto;
  padding-bottom: 10px;
}

#banner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/67/NYC_Top_of_the_Rock_Pano_banner.jpg");
  background-size: cover;
  background-position: center center;
  /*position: relative;*/
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

#banner > h1 {
  color: white;
   text-shadow: 2px 2px #ff0000;
}

h1  { 
  /*font-family: 'Kaushan Script', cursive; */
  font-family: 'Voces', cursive;
  font-size: 76px;
  text-align: center;
  color: black;
}

h2 {  
  font-family: 'Noto Serif', serif; 
  font-size: 24px;
}

body {
  background-image: url('../pictures/concrete_seamless/concrete_seamless.png');
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  /* background: #F5F5F5;
  */
  text-align: center;
  
}

p > a {           
  color: blue;
  font-size: 17px;
  font-weight: bold; 
}

li {
  text-align: left;
}

.about-mark {
  position: relative;
}

#social:hover {
  opacity: .50;
}

.descriptionSocial {
  color: black;
  text-align: center;
 }

.description {
  color: black;
  text-align: center;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.description2 {
  color: black;
  text-align: center;
}

.list {
  list-style-type: circle;
  /*text-align: left;*/
  margin: 0 auto;
}

.contact {
  margin: 0 auto;

}


/* Images */
/*
img {
}
*/



.google-social-button{
  width: 48px;
  height: 42px;
  border: 0px;
}

.social-button{
  width: 42px;
  height: 42px;
  border: 0px;
  border-radius: 3px; 
}

.about {
  margin: 10px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    margin: auto;
    width: 100%;
    height: 449px;
    /*width: 100%;
    height: 449px;*/
}

#carousel-home {
  width: 610px;
  margin: 20px auto;


  /*text-align: center;
  width: 750px;
  height: 449px;*/
}

.carousel-caption {
  top: 28%;
  transform: translateY(-50%);
}

.footer img{
  margin: 0 auto;
  
}

.footer {
  position: relative;
}
.footer p { 
  margin: 0 auto;
  padding-top: 10px;
}

.about {
  font-size: 24px;

}
