/*Main*/
@media only screen and (min-width: 993px){
  .container {
    width: 80%;
  }

}


header {
  z-index: 1000;
}

body {
  background-image: url('../img/concrete_seamless/concrete_seamless.png');
  z-index: 1000;
  padding-bottom: 0;
}


/*
NAVIGATION BAR
*/

.navbar .navbar-nav {
     display: inline-block;
  float: none;
}

#the-navbar {

  margin: 0 auto;
  width: 100%;
  height: 80px;
  /*z-index: 10;*/
  padding: 20px 45px;
  background-color: #000000; /* #3F7CAC*/
  /*ADADAD*/
  position: fixed;
}

.side-nav li {
    float: none;
    padding: 0 15px;
}
.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
}
.side-nav li:hover, .side-nav li.active {
    background-color: #ddd;
}
nav ul li {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
}

.navbar .nav > li > a {
  @elementHeight: 20px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 10px ((@navbarHeight - @elementHeight) / 2 + 1);
  line-height: 19px;
}


/*
JUMBOTRON HERO
*/

.hero-unit {
  background: url('../img/NASA-photo-ny-small.png');;
  /*background-image: url("https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d777797e2462dbf385043a4361644a24");*/
  background-size: cover;
  background-position: center center;
  position: relative;
  /*padding: 60px;*/
  padding:10px;
  /*margin-top: 80px;*/
  /*margin-bottom: 30px;*/
  /*font-size: 18px;*/
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  height: 100%;
  background-color: #eeeeee;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
}
.hero-unit h1 {
  margin-bottom: 0;
  /*font-size: 60px;*/
  /*line-height: 1;*/
  /*letter-spacing: -1px;*/
  color: white;
  /*text-shadow: 2px 2px #C37547;*/
  text-shadow: 2px 2px #a1b191;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  .hero-unit h1 {
    /*font-size: 18px;*/
        margin-top: -64px;


  }
}

@media  only screen and (max-width: 800px) {
  .hero-unit#index-banner  {
    /*font-size: 18px;*/
    margin-top: -64px;
    height: 100vh;
    /*height: 200px;*/
    min-height: 0;


  }

  /*#index-banner {
    min-height: inherit;
    height: 100vh;
  }*/

  .hero-unit h1 {
    margin: 0;
    /*margin-top: -64px;*/

    /*font-size: 60px;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
    color: white;
    /*text-shadow: 2px 2px #C37547;*/
    text-shadow: 2px 2px #a1b191;
    padding: 0;
  }

}

@media only screen and (max-width: 480px){
  .hero-unit h1.text_h {
      font-size: 56px;
  }
}

/*.hero-unit .container {

}*/


.hero-unit p {
  font-size: 24px;
  color: white;
}

.hero-unit li {
  line-height: 30px;
}


#intro-text {
  /*padding: 4rem 0;*/
  padding-bottom: 4em;
}




/*
PORTFOLIO
*/
.card .card-title{
  font-weight: 400;
}
.card .card-image img {
    height: 185px;
}

.card .card-content {
    /*padding: 20px;*/

}

.card i.right {
  margin-left: 0;
  width: 30px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.tech-used-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.tech-list-item{
  flex: 1;
}




/*
PARALLAX
*/
.parallax img {
  width: 100%;
  height: inherit;
}


/*
INTERESTS
*/


.carousel.carousel-slider {
  height: 575px;
  cursor: pointer;
}

@@media only screen and (max-width: 600px) {

}


.carousel.carousel-slider .carousel-fixed-item.with-indicators{
  position: absolute;
  bottom: 50%;
  z-index: 1;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators a{
  background-image: url('../img/concrete_seamless/concrete_seamless.png');
}

.carousel-btn{
  display: flex;
  align-items: center;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators.left{

  left: 0;
   right: initial;

}
.carousel.carousel-slider .carousel-fixed-item.with-indicators.right{

  left: initial;
   right: 0;

}

.carousel .carousel-item img {
  height: inherit;
}
.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: inherit;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel.carousel-slider .carousel-item h4{
  position: absolute;
  left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    text-shadow: 2px 2px black;
}

/*carousel bottom dots*/
.carousel .indicators .indicator-item {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .carousel.carousel-slider {
    height: 275px;
  }
}
@media screen and (min-width: 600px) and (max-width: 850px) {
  .carousel.carousel-slider {
    height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 220px;
  }

  .card .waves-effect{
    padding: 25px;
  }
  .card.two-techs .waves-effect{
    padding: 5px 0;
  }

  .devicon-plain-2techs {
    float: left;
    max-width: 100px;

    width: 75px;
  }



}

/*
hr {
  border-top: 1px solid #333;
}*/


/*#projects-portfolio {
  text-align: center;
  margin: 0 auto;

}
.google-social-button{
  width: 48px;
  height: 42px;
  border: 0px;
}

.social-button{
  width: 42px;
  height: 42px;
  border: 0px;
  border-radius: 3px;
}*/

.devicon-plain {
  max-width: 150px;
}
.devicon-plain-2techs {
  max-width: 100px;
  height: 150px;
}

.devicon-plain path {
  /*fill: black;*/
}

.devicon-react path {
  fill: #09d9fe;
}

footer {
  color: black;
  background-color: gray;
  background-image: url('../img/concrete_seamless/concrete_seamless.png');
  /*margin-top: 80px;*/
  /*position: relative;*/
  /*bottom: 0;*/
  /*margin: 0 auto;*/
  /*background-color: #f2c18a;*/
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}
